.avatar-doctor {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
}

.avatar-doctor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}